# System
APP_NAME="vs"
COMPOSE_PROJECT_NAME=vs-roadrunner

DOCKER_USER=docker_user
DOCKER_HOME=/home/${DOCKER_USER}
DOCKER_USER_UID=1110
DOCKER_USER_GID=1110

# Network bindings
APP_DOMAIN=localhost
FORWARD_HTTP_PORT=80
FORWARD_HTTPS_PORT=443
FORWARD_HEALTH_PORT=5082
FORWARD_REDIS_PORT=5002
FORWARD_DB_PORT=5003

# Database and cache
DB_DATABASE=${COMPOSE_PROJECT_NAME}-db
DB_USERNAME=${COMPOSE_PROJECT_NAME}-user
DB_PASSWORD=${COMPOSE_PROJECT_NAME}-secret
REDIS_PASSWORD=${COMPOSE_PROJECT_NAME}-secret

# Debug and profile # DO NOT TOUCH THIS PART, USE MAKEFILE INSTEAD!!
#XDEBUG_MODE=debug
#TELESCOPE_ENABLED=true
